<nav class="bg-sand-300 py-8">
  <div class="container mx-auto">
    <ul class="flex gap-x-4 items-center justify-center">
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Articles</a>
      </li>
      <li>
        <a href="#">Notes</a>
      </li>
    </ul>
  </div>
</nav>
