---
import DefaultLayout from "../layouts/default.astro";
import Hero from "../components/hero.astro";

// Fetch data
// TODO: Extract to env variables
const api = "http://cms.benjaminbabic.test/api/query";
const username = "foo@bar.com";
const password = "test1234";
const headers = {
  Authorization: Buffer.from(`${username}:${password}`).toString("base64"),
};
const query = {
  query: "site.page('home')",
};

const response = await fetch(api, {
  headers,
  method: "POST",
  body: JSON.stringify(query),
});
const data = await response.json();
const {
  result: { content },
} = data;
---

<DefaultLayout title="Benjamin Babic">
  <main>
    <Hero data={content} />
  </main>
</DefaultLayout>
