---
import DefaultLayout from "~/modules/shared/layouts/default.astro";
import Hero from "~/modules/home/components/hero.astro";
import { useHomeData } from "~/modules/home/composables/use-home-data.astro";

// Fetch data
const { content } = await useHomeData();
---

<DefaultLayout title="Benjamin Babic">
  <main>
    <Hero data={content} />
  </main>

  <div class="container mx-auto">
    <!-- TODO: Rethink this and extract if needed -->
    I’d love to build something great with you, say hi mailto.
  </div>
</DefaultLayout>
