---
import DefaultLayout from "../layouts/default.astro";
---

<DefaultLayout title="Benjamin Babic">
  <main class="p-4 md:p-8">
    <h1 class="text-4xl leading-normal tracking-wide">Welcome to website</h1>
    <p class="prose prose-lg">
      Pariatur minim excepteur voluptate magna excepteur minim ullamco excepteur
      eu ad eiusmod dolor veniam sint. Ipsum aliqua culpa amet commodo proident
      proident cillum consequat esse. Voluptate ex anim culpa qui sunt officia
      exercitation in non et laborum commodo consectetur do. Proident sit
      laboris sunt enim anim eu laborum cupidatat Lorem.
    </p>
  </main>
</DefaultLayout>
